.BarChart {
  width: 100%;
}

.BarChart rect {
  fill: steelblue;
}

.BarChart text {
  fill: white;
  font: 10px sans-serif;
  text-anchor: end;
}

.TimeSeries {
  width: 100%;
  height: 200px;
}

.TimeSeries-tooltip {
  border: 2px solid #1e6dc0;
  border-radius: 3px;
  padding: 3px;
  background-color: #e8e8e8;
  color: #1e6dc0;
}

svg {
  font: 10px sans-serif;
}

.line {
  fill: none;
  stroke: #000;
  stroke-width: 1.5px;
}

rect.event-target {
  fill: white;
  stroke: white;
}

.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}
